@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.aboutMe {
  width: 300px;
  font-size: 30px;
  font-family: 'Chilanka', cursive; 
  color: rgb(245, 169, 6);
}
.avatar1 {
  border: 2px solid white;
  width: 150px;
  margin: 50px 0px;
  box-shadow: 20px -5px 3px black;
}
.avatar1:hover {
  box-shadow: 30px 0px 3px orange;
  
}
.avatar2:hover {
  transition: 2s;
  
}
.img {
  display: flex;
  justify-content: center;
  margin: 10px; 
  border: rgb(19, 21, 22,0.3) solid 5px;
  border-radius: 10px;
  background-color: rgb(19, 21, 22,0.3);    
  transition: all 0.5s ease-in-out;
     
}

.img:hover {
  transform: scale(1.1, 1.1);
}

.img1:hover {
  transform: translate(-10px, 0px);
}

.img1 {
  height: 346px;
  width:260px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 320px){
  .container {
    width: 100%;
    flex-direction: column;
  };
  
}
@media screen and (max-width: 710px){
  .container {
    width: 100%;
    flex-direction: column;
  };
  
}